<div class="content-padded content">
  <div class="text-center top-button">
    <a ng-href="#/numeral/money" class="black-link">
      <span class="btn badge btn-badge" ng-class="{ active: isActive('/numeral/money')}">Money</span>
    </a>
    &nbsp;
    &nbsp;
    &nbsp;
    <a ng-href="#/numeral/words" class="black-link">
      <span class="btn badge btn-badge" ng-class="{ active: isActive('/numeral/words')}">Words</span>
    </a>
  </div>
  <br/>
  <form>
    <div class="text-center">
    <input class="text-center input-lg input-white" ng-disabled="true" pu-elastic-input type="text" placeholder="" ng-maxlength="16"
           ng-model="data.input">
    <span class="cursor" ng-class="styleVar.cursor"></span>
    </div>
  </form>
  <div class="parent-result">
    <div id="logo" class="text-center result">
      <h1>
        <span ng-show="isActive('/numeral/money')">{{data.input | numToMoney}}</span>
        <span ng-show="isActive('/numeral/words')">{{data.input | numToWords}}</span>
      </h1>
      <!--<a href="//www.typeform.com"><img src="/bundles/quickyformadmin/images/icon-logo.png" width="17" heigh="41"></a>-->
    </div>
  </div>

</div>

<div class="keyboard border-none">
  <table class="table table-bordered">
    <tbody class="text-center">
    <tr>
      <td class="left top" ng-click="button(1)">
        1
      </td>
      <td class="top" ng-click="button(2)">
        2
      </td>
      <td class="top right" ng-click="button(3)">
        3
      </td>
    </tr>
    <tr>
      <td class="left" ng-click="button(4)">4</td>
      <td ng-click="button(5)">5</td>
      <td class="right" ng-click="button(6)">6</td>
    </tr>
    <tr>
      <td class="left" ng-click="button(7)">7</td>
      <td ng-click="button(8)">8</td>
      <td class="right" ng-click="button(9)">9</td>
    </tr>
    <tr>
      <td class="bottom left" ng-click="button('.')">.</td>
      <td class="bottom" ng-click="button(0)">0</td>
      <td class="bottom right" ng-click="button('delete')"><</td>
    </tr>
    </tbody>
  </table>
</div>
