$dark-background: #262d43;
$key-hover: #7B84A1;
$text-color: #fff;
$opacity-imitation: #3c4256;
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.white-text {
  color: white;
}

.darkslategray {
  background-color: #262d43;
}

.btn-badge {
  color: $text-color;
  font-size: 20px;
  font-weight: 400;
  padding: 6px 16px 6px;
  background-color: $dark-background;
  border-color: $dark-background;
}

.btn.active.btn-badge {
  background-color: $opacity-imitation;
  box-shadow: none;
}

.btn.btn-badge:hover {
  color: $text-color;
}

.btn.btn-badge {
  box-shadow: none;
  background-color: $dark-background;
  padding: 10px 20px 10px;
  font-size: 17px;
}

a.black-link, a.black-link:active, a.black-link:hover {
  text-decoration: none;
  color: $text-color;
  //  cursor: pointer;
}
.input-white {
  background-color: $dark-background !important;
  border: 1px solid $dark-background !important;
  font-size: 35px;
  height: 45px !important;
  font-family: OpenSans-Light;
  margin-bottom: 30px;
  padding: 0 5px 0 5px !important;
}

img, .cursor {
  vertical-align: middle
}

.cursor {
  display: inline-block;
  vertical-align: sub;
  width: 2px;
  height: 41px;
  background: #8bcbca;
  -webkit-transition: opacity .28s ease-out;
  -moz-transition: opacity .28s ease-out;
  transition: opacity .28s ease-out
}

.cursor.off {
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0
}

@font-face {
  font-family: "OpenSans-Light";
  src: url(../assets/fonts/OpenSans-Light.ttf)
}

body  {
  overflow: hidden;
  background-color: $dark-background;
  color: $text-color;
  font-family: OpenSans-Light;
}

.content-padded {
  background-color: $dark-background;
  -webkit-mask-image: -webkit-gradient(linear, left 70%,
    left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}


.parent-result {
  overflow: hidden;
  height: 135px;
  h1 {
    line-height: 1.1 !important;
  }
}
.result {
  overflow: auto;
  height: 150px;
  }
.keyboard {
  width: 100%;
  position: fixed;
  bottom: 0px;
  color: $dark-background;
  background-color: $text-color;
  font-size: 30px;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  cursor: pointer;


}

.keyboard td {
  -webkit-transition: background-color .28s ease-out;
  -moz-transition: background-color .28s ease-out;
  transition: background-color .28s ease-out
}

.keyboard td:active {
  background-color: $key-hover;
  //border-color: $key-hover;
  color: $text-color;
}
.keyboard .table {
  margin-bottom: 0;
}

.top-button {
  padding: 20px 0 20px;
}

.border-none {
  .left{
    border-left-width: 0;
  }
  .right{
    border-right-width: 0;
  }
  .bottom{
    border-bottom-width: 0;
  }
  .top{
    border-top-width: 0;
  }
}

.table-bordered {
  border: 0;
}
// injector
// endinjector
