<div id="todoapp" ng-controller="TodoCtrl">

  <header class="bar bar-nav">
    <a class="icon icon-refresh pull-right"></a>
    <h1 class="title">To Do</h1>
  </header>

  <div class="bar bar-footer">
    <div id="filters" class="segmented-control">
      <a class="control-item" ng-class="{selected: location.path() == '/'} " href="#/">All</a>
      <a class="control-item" ng-class="{selected: location.path() == '/active'}" href="#/active">Active <span class="badge badge-info">{{remainingCount}}</span></a>
      <a class="control-item" ng-class="{selected: location.path() == '/completed'}" href="#/completed">Completed</a>
    </div>
  </div>

  <div class="content">
    <ul class="table-view">
      <li class="table-view-cell" ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == editedTodo}">

        <form class="input-group" ng-submit="doneEditing(todo)">
          <input class="edit" ng-trim="false" ng-model="todo.title" ng-blur="doneEditing(todo)" todo-escape="revertEditing(todo)" todo-focus="todo == editedTodo">

        </form>
        <div class="segmented-control pull-right">
          <span class="btn icon icon-trash" ng-click="removeTodo(todo)"></span>
          <button class="btn icon icon-check" ng-model="todo.completed" ng-click="todoCompleted(todo)"></button>
        </div>

      </li>
      <li class="table-view-cell">
        <span class="btn icon icon-plus pull-right" ng-click="addTodo()"></span>
        <form class="input-group" id="todo-form" ng-submit="addTodo()">
          <input class="form-control " id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" autofocus="">
        </form>
      </li>
    </ul>

  </div><!-- /.content -->



</div>
</div>

<!-- Compose modal -->
<div id="composeModal" class="modal">
  <header class="bar bar-nav">
    <a class="btn btn-link pull-right" href="#composeModal">
      <strong>Send</strong>
    </a>
    <a class="btn btn-link pull-left" href="#composeModal">
      Cancel
    </a>
    <h1 class="title">New message</h1>
  </header>

  <div class="content">
    <form class="input-group">
      <input type="text" placeholder="To:">
      <input type="email" placeholder="From:">
      <input type="text" placeholder="Subject:">
      <textarea rows="20"></textarea>
    </form>
  </div>
